@(titulo:String, usuario: models.Usuario) @main(titulo){
<div class="navbar navbar-fixed-top header">
	<div class="col-md-12">
		<div class="navbar-header">

			<a href="/" class="navbar-brand">Viagens</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#navbar-collapse1">
				<i class="glyphicon glyphicon-search"></i>
			</button>

		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse1">
			<form class="navbar-form pull-left" action="/viagem/pesquisar">
				<div class="input-group" style="max-width: 470px;">
					<input type="text" class="form-control" placeholder="buscar..."
						name="pesquisa" id="pesquisa">
					<div class="input-group-btn">
						<button class="btn btn-default btn-primary" type="submit">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
			</form>
			<ul class="nav navbar-nav navbar-right">

				<li><a href="#" id="btnToggle"><i
						class="glyphicon glyphicon-th"></i></a></li>
				<li><a href="/"><i class="glyphicon glyphicon-user"></i>
						@usuario.getEmail()</a></li>
				<li><a href="/logout"><i class="glyphicon glyphicon-lock"></i>
						Logout</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="navbar navbar-default" id="subnav">
	<div class="col-md-12">
		<div class="navbar-header">
	
				<a href="#" style="margin-left: 15px;"
					class="navbar-btn btn btn-default btn-plus dropdown-toggle"
					data-toggle="dropdown"><i class="glyphicon glyphicon-home"
					style="color: #dd1111;"></i> Home <small><i
						class="glyphicon glyphicon-chevron-down"></i></small></a>
				<ul class="nav dropdown-menu">
					<li><a href="/usuario"><i class="glyphicon glyphicon-user"
							style="color: #1111dd;"></i> Usuarios</a></li>
					<li><a href="/"><i class="glyphicon glyphicon-dashboard"
							style="color: #0000aa;"></i> Viagens</a></li>
					<li><a href="/viagens/agenda"><i class="glyphicon glyphicon-inbox"
							style="color: #11dd11;"></i> Agenda</a></li>
					<li class="nav-divider"></li>
					<li><a href="/viagens"><i class="glyphicon glyphicon-cog"
							style="color: #dd1111;"></i> Editar Viagens</a></li>
					<li><a href="/cadastro/viagem"><i class="glyphicon glyphicon-plus"></i>
							Nova Viagem</a></li>
				</ul>
	
	
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbar-collapse2">
					<span class="sr-only"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
	
			</div>
		<div class="collapse navbar-collapse" id="navbar-collapse2">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Viagens</a></li>
				<li><a href="/viagens" role="button">Editar Viagens</a></li>
				<li class="active"><a href="/cadastro/viagem" role="button">Nova
						Viagem</a></li>
				<li><a href="/viagens/agenda" role="button">Agenda</a></li>
				<li><a href="/usuario" role="button" >Usuarios</a></li>
			</ul>
		</div>
	</div>
</div>

<!--main-->
<div class="container" id="main">
		@if(flash.contains("erro")) {
					
			<div class="alert alert-danger">
				<strong>Ops!</strong> @flash.get("erro")
			</div>
					
		}
					
		@if(flash.contains("success")) {
			<div class="alert alert-success">
				<strong>Ok!</strong> @flash.get("success")
			</div>
		}
	<div class="row">
		<div class="col-md-2 col-sm-2"></div>
		<div class="col-md-8 col-sm-10">
			<div class="panel panel-default">
				<div class="panel-heading" align="center">
					<h4>Cadastro de Viagem</h4>
				</div>
				<div class="panel-body">
					<form class="form col-md-12 center-block" action="/cadastro/viagem" method="post">

						<div class="form-group">
							<div class="col-md-8">
								<input type="text" name="LOCAL_VIAGEM" class="form-control input-lg"
									placeholder="Local">
							</div>

							<div class="col-md-4">
								<input type="date" name="DATA_VIAGEM" class="form-control input-lg">
							</div>
						</div>

						<br> <br> <br>

						<div class="form-group">
							<div class="col-md-12">
								<textarea class="form-control input-lg"
									placeholder="Descrição da viagem" name="DESCRICAO_VIAGEM" rows="3"></textarea>
							</div>
						</div>

						<br> <br> <br> <br> <br> <br>

						<div class="form-group">
							<div class="col-md-8">
								<select id="tipo_viagem" name="TIPO_VIAGEM"
									class="form-control input-lg">
									<option value="ABERTA">ABERTA</option>
									<option value="LIMITADA">LIMITADA</option>
									<option value="PRIVADA">PRIVADA</option>
								</select>
							</div>

							<div id="CODIGO" class="col-md-4"></div>
							<br>
							<br>
							<br>
							<br>
							<div id="PARTICIPANTES" class="col-md-12"></div>
							
							<br>
							<br>
							<br>
							<br>
							<div class="col-md-6" align="center">
							<br>
						
								<button type="submit" class="btn btn-success btn-lg btn-block">Cadastrar</button>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
	<!--/row-->

</div>
<!--/main-->

<!--modal usuarios-->
<div>
<div class="modal fade " id="listaDeUsuarios" >
		  <div class="modal-dialog">
		  <div class="modal-content">
			  <div class="modal-header">
				  <h2 class="text-center">Todos Usuarios</h2>
			  </div>
			  <div class="modal-body ">
					<table class="table table-striped">
						<thead>
							<tr>
								<th >Nome</th>
								<th >E-mail</th>
							</tr>
						</thead>
						<tbody>
							@for(usuario <- controllers.Application.getAllUsuarios()){
							<tr>
								<td>@usuario.getNome()</td>
								<td>@usuario.getEmail()</td>
							</tr>
							}
						</tbody>
					</table>
				
			</div>
			  
			  
			  <div class="modal-footer">
				  <div class="col-md-12">
				  <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
				  </div>	
			  </div>
		  </div>
		  </div>
		</div>
		</div>
<script type="text/javascript">
	$(document)
			.ready(
					function() {

						$('select').change(
										function() {
											var tipo = $("option:selected", this).val();
											if (tipo == "LIMITADA") {
												var input = '<input id="CODIGO_VIAGEM" name="CODIGO_VIAGEM" type="text" class="form-control input-lg" placeholder="Código">';
												var div = document
														.getElementById("CODIGO");
												$('#CODIGO_VIAGEM').remove();
												$('#PARTICIPANTES_VIAGEM')
														.remove();
												$('#LISTAR_USUARIOS').remove();
												$('#CODIGO').append(input);
											}
											if (tipo == "ABERTA") {

												$('#CODIGO_VIAGEM').remove();
												$('#LISTAR_USUARIOS').remove();
												$('#PARTICIPANTES_VIAGEM').remove();
											}

											if (tipo == "PRIVADA") {
												var input = '<textarea id="PARTICIPANTES_VIAGEM" name="PARTICIPANTES_VIAGEM" class="form-control input-lg" placeholder="Digite os emails dos usuarios que poderam participar da viagem separando por virgulas. Exemplo: exemplo[at]exemplo.com, exemplo[at]exemplo.com " rows="3"></textarea>';

												var usuarios = '<button id="LISTAR_USUARIOS" type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#listaDeUsuarios">Listar Usuarios</button>';

												$('#PARTICIPANTES_VIAGEM')
														.remove();
												$('#LISTAR_USUARIOS').remove();
												$('#CODIGO_VIAGEM').remove();
												$('#CODIGO').append(usuarios);
												$('#PARTICIPANTES').append(
														input);
											}
										});
					});
</script>

}

